@charset "UTF-8";

body {
    font: 14px/18px normal Source Sans Pro, sans-serif;
    padding: 20px;
    background-color: #D3D0CB;
}
h1 {
    font-size: 2em;
    font-weight: bold;
}
ul {
    margin: 20px;
    list-style: circle;
}
li {
    padding: 2px;
}
form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #6E8898;
    border: 1px solid #2E5266;
}
input {
    border: 1px solid #DDD;
}
#result{
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #9FB1BC;
    border: 1px solid #2E5266;
}

.errors li {
    list-style-type: none;
    color: pink;
}
.center {
    text-align: center;
}
#labels{
    width: 300px;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
#labels li {
    font-weight: 900;
    float: left;
    margin-left: 60px;
}

#labels li.last {
    margin-left: 100px;
}
.returnLink{
    text-align: center;
}
.returnLink a{
    text-decoration: none;
    color: black;
}
